body {
    background-image: url("images/background.image.jpg");
    background-size: cover;
}

.message {
    position: absolute;
    top: 45px;
    left: 16px;
    color: gold;
}

.bird {
    height: 130px;
    width: 145px;
    position: absolute;
    top: 65px;
    left: 1vw;
    z-index: 100;
}

.logo {
    display: block;
    margin: 0 auto;
    height: 125px;
    width: 400px;
}