body {
    background-image: url("images/background.image.jpg");
    background-size: cover;
}

.message {
    position: absolute;
    top: 400px;
    left: 45px;
    color: gold;
    background: white;
	padding: 5px;
    border-radius: 5%;
}

.bird {
    height: 130px;
    width: 145px;
    position: absolute;
    top: 285px;
    left: 9vw;
    z-index: 100;
}

.logo {
    display: block;
    margin: 0 auto;
    height: 125px;
    width: 400px;
}